
<h2>Hola soy la pagina de index</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, blanditiis? Assumenda quibusdam fugit, tenetur veniam repellendus sapiente repudiandae doloremque? Molestias vel, praesentium aut distinctio iste ea ullam sunt eum dignissimos?</p>
